body {
  background-color: #00071a;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  color: white;
  margin: 0 auto;
  font-family: 'Ubuntu', sans-serif;
}

.navbar {
  background-color: #00071a;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 54px;
}

p {
  font-size: 18px;
}

#content {
  margin: 0 auto;
  width: 65%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.container {
  width: 400px;
  height: 520px;
}

.container img{
  max-width: 100%;
}

#tribute {
  max-width: 75%;
  max-height: 75%;
}

.fa {
    width: 56px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa-reddit {
  color: #FF5700;
}

.fa-github {
  color: white;
}

.fa-twitter {
  color: #0084B4;
}

.fa-linkedin {
  color: #0077B5;
}

.main-class {
  margin-top: 20px;
  margin-bottom: 10px;
}