body {
  background-color: #00071a;
  background-image: #161616
    url("https://wallpaperscraft.com/image/dark_background_line_surface_65896_1920x1200.jpg");
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  text-align: left;
}

.banner {
  text-align: center;
}

.banner-container {
  margin: 0 auto;
  text-align: center;
  display: inline-block;
}

.banner-text {
  display: inline-block;
  text-align: left;
  margin: calc(1.9px + 2.3vmin) calc(1px + 1vmin) calc(1.5px + 2.5vmin)
    calc(1px + 1vmin);
  margin-right: calc(2px + 2vmin);
}

.profile-pic {
  border-radius: 10px;
  width: calc(20px + 8vmin);
}

.photo-container {
  display: inline-block;
  margin: calc(2px + 2vmin);
  float: left;
}

.calendar {
  margin-top: 20px;
  width: 100%;
  display: none;
  border: solid 2px white;
  border-radius: 2vmin;
}

.item {
  border: solid 2px white;
  margin-top: calc(8px + 2vmin);
  padding: 2vmin;
  padding-right: 3vmin;
  padding-left: 3vmin;
  border-radius: 2vmin;
  background: rgb(31, 31, 31);
}

.subitem {
  border-top: solid 1px white;
  padding-bottom: 4.5vmin;
  padding-top: 2.5vmin;
}

.icons > a:hover {
  text-decoration: none;
  animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.icons {
  text-align: center;
}

@keyframes shake {
  10%,
  90% {
    transform: rotate(-4deg);
  }

  20%,
  80% {
    transform: rotate(8deg);
  }

  30%,
  50%,
  70% {
    transform: rotate(-12deg);
  }

  40%,
  60% {
    transform: rotate(12deg);
  }
}

h3 {
  font-weight: bold;
  display: inline-block;
}

h1 {
  font-size: calc(13px + 5vmin);
}
h2 {
  font-size: calc(13px + 1.5vmin);
}
h3 {
  font-size: calc(12.5px + 1.2vmin);
}
p,
li {
  font-size: calc(11px + 0.8vmin);
}

.small-description {
  display: inline;
  font-weight: bold;
}

h1,
h2,
h3 {
  margin-top: 1.5vmin;
  margin-bottom: 1.5vmin;
}

.description {
  font-size: calc(10px + 0.8vmin);
}

.video-container {
  overflow: hidden;
  display: block;
  line-height: 0;
  border-radius: 1%;
  margin: 0 auto;
}

video {
  width: 100%;
}

.container-fluid {
  padding-left: 0px;
}

.content {
  margin: 0 auto;
  width: 90%;
  max-width: 1000px;
  margin-top: 20px;
  margin-bottom: 10px;
}

rect.day[data-count|="0"] {
  fill: rgb(101, 101, 101);
}

.contrib-number,
.text-muted {
  color: white;
}

.container {
  width: 25%;
}

p {
  text-align: justify;
}

.container img {
  max-width: 100%;
  margin-top: 15px;
}

.fab {
  font-size: calc(22px + 3vmin);
  margin: calc(5px + 0.5vmin) calc(5px + 1.5vmin) calc(5px + 0.5vmin)
    calc(5px + 1.5vmin);
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-reddit,
.fa-reddit:hover {
  color: #ff5700;
}

.fa-github,
.fa-github:hover {
  color: white;
}

.fa-twitter,
.fa-twitter:hover {
  color: #0084b4;
}

.fa-linkedin,
.fa-linkedin:hover {
  color: #0077b5;
}

li {
  list-style-type: disc;
  margin-left: 2rem;
}
