body {
  background-color: #00071a;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  text-align: left;
}

#banner {
  background: black;
  height: 15vmin;
}

.banner-container {
  margin: 0 auto;
  text-align: center;
  display: block;
  width: 73vmin;
  height: 15vmin;
}

.banner-text {
  display: inline-block;
  text-align: left;
  margin: 2vmin;
  float: left;
}

.banner-text > h1 {
  margin-top: 0px;
}


#photo {
  border-radius: 10px;
  width: 10.5vmin;
}

.photo-container {
  display: inline-block;
  margin: 2vh;
  float: left;
}

.icons > a:hover {
  text-decoration: none;
  animation: shake 1.0s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: rotate(-4deg);
  }

  20%, 80% {
    transform: rotate(8deg);
  }

  30%, 50%, 70% {
    transform: rotate(-12deg);
  }

  40%, 60% {
    transform: rotate(12deg);
  }
}

h3 {
  font-weight: bold;
  display: inline-block;
}

span {
  font-weight: bold;
}

h1 {
  font-size: 4vmin;
}
h2 {
  font-size: 3.3vmin;
}
h3 {
  font-size: 3.0vmin;
}
p, span {
  font-size: 2.5vmin;
}

.description {
  font-size: 2vmin;
}

.video-container {
  overflow:hidden;
  display:block;
  border-radius: 7px;
}

video {
  width: 100%;
}

.container-fluid {
  padding-left: 0px;
}

#logo {
  border: solid white 1px;
}

#content {
  margin: 0 auto;
  width: 90%;
  max-width: 1000px;
  margin-top: 20px;
  margin-bottom: 10px;
}

#my-calendar {
  margin-top: 20px;
  width: 100%;
}

rect.day[data-count|="0"] {
  fill: rgb(101, 101, 101);
}

.contrib-number, .text-muted {
  color: white;
}

.container {
  width: 25%;
}

p {
  text-align: justify;
}

.container img{
  max-width: 100%;
  margin-top: 15px;
}

.fa {
    width: 56px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa-reddit, .fa-reddit:hover {
  color: #FF5700;
}

.fa-github, .fa-github:hover {
  color: white;
}

.fa-twitter, .fa-twitter:hover {
  color: #0084B4;
}

.fa-linkedin, .fa-linkedin:hover {
  color: #0077B5;
}
