body {
  background-color: #00071a;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  color: white;
  margin: 0 auto;
  font-family: 'Ubuntu', sans-serif;
}

/*.navbar {
  background-color: #00071a;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}*/

h1 {
  font-size: 2.2em;
}

h3 {
  font-weight: bold;
}

p {
  font-size: 1em;
}

img {
  border-radius: 5px;
}

.video-container {
  overflow:hidden;
  display:block;
}

video {
  width: 100%;
}

#content {
  margin: 0 auto;
  width: 90%;
  max-width: 1000px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.container {
  width: 25%;
}

.container img{
  max-width: 100%;
  margin-top: 15px;
}

.fa {
    width: 56px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa-reddit {
  color: #FF5700;
}

.fa-github {
  color: white;
}

.fa-twitter {
  color: #0084B4;
}

.fa-linkedin {
  color: #0077B5;
}
